.navbar__menu--links, .navbar__menu, .navbar__logo {
  display: flex;
  align-items: center;
}

.navbar {
  background: #020001;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.navbar__logo {
  color: #f29f1b;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 24px;
  font-weight: bolder;
}
.navbar__logo:hover {
  color: #ffffff;
  transition: all -0.3s ease;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #ffffff;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}
.navbar__menu--links {
  color: #ffffff;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar__menu--links:hover {
  color: #f29f1b;
  transition: all -0.3s ease;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
@media screen and (max-width: 280px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: flex;
  align-items: center;
}

.destaque {
  background-image: url(../images/FUNDO_3_escuro.png);
  width: 100%;
  height: 786px;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.destaque__titulo {
  color: #f29f1b;
  text-align: center;
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .destaque__imagens {
    display: none;
  }
}
@media screen and (max-width: 280px) {
  .destaque__imagens {
    display: none;
  }
}
.destaque__imagens--carros {
  margin: 12px;
  height: 280px;
  width: 370px;
}
.destaque__imagens--legendas--nome {
  color: #ffffff;
  margin: 12px;
  font-size: 1.8em;
}
.destaque__imagens--legendas--marcas {
  padding-right: 5px;
  vertical-align: -8px;
}
.destaque__imagens--legendas--valor {
  color: #ffffff;
  margin: 12px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background: #020001;
  font-size: 1.9em;
}
.destaque__imagens--legendas--info {
  color: #ffffff;
  margin: 12px;
  font-size: 1.1em;
}
.destaque #destaque__imagens--1 {
  display: flex;
}
.destaque #destaque__imagens--2 {
  display: none;
}
.destaque__botoes {
  text-align: center;
  padding-top: 20px;
}
.destaque__botoes--label {
  color: #ffffff;
  font-size: 1.5em;
}
.destaque__botoes--label:hover {
  cursor: pointer;
  color: #f29f1b;
  transition: all -0.3s ease;
}
.destaque__link {
  text-align: center;
  padding-top: 50px;
}
.destaque__link--link {
  color: #f29f1b;
  text-decoration: none;
  justify-content: center;
  font-size: 1.8em;
}
.destaque__link--link:hover {
  color: #ffffff;
  transition: all -0.3s ease;
}
.destaque__botoes--botao {
  margin: 0 10px;
  border: none;
  background: none;
  color: #ffffff;
  font-size: 3em;
}
.destaque__botoes--botao:hover {
  cursor: pointer;
  color: #f29f1b;
  transition: all -0.3s ease;
}

.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: flex;
  align-items: center;
}

.servicos {
  margin-top: 4px;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
  background-color: #020001;
}
.servicos__titulo {
  color: #f29f1b;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}
.servicos__itens {
  display: inline-block;
  width: 100%;
}
.servicos__itens--venda--icone {
  float: left;
  border-width: 5px;
  color: #ffffff;
  font-size: 6em;
  margin-top: 100px;
  padding: 40px;
  border-color: #7DEC07;
  border-style: solid;
  border-radius: 50%;
}
.servicos__itens--venda--titulo {
  margin-top: 80px;
  font-weight: bold;
  color: #f29f1b;
  font-size: 3em;
}
.servicos__itens--venda--desc {
  margin-top: 20px;
  margin-left: 240px;
  color: #ffffff;
  font-size: 1.7em;
}
.servicos__itens--financiamento--icone {
  float: right;
  border-width: 5px;
  color: #ffffff;
  font-size: 6em;
  margin-top: 100px;
  padding: 40px;
  border-color: #7DEC07;
  border-style: solid;
  border-radius: 50%;
}
.servicos__itens--financiamento--titulo {
  float: right;
  margin-top: 80px;
  font-weight: bold;
  color: #f29f1b;
  font-size: 3em;
}
.servicos__itens--financiamento--desc {
  float: right;
  margin-top: -130px;
  margin-right: 200px;
  color: #ffffff;
  font-size: 2em;
}
.servicos__itens--testdrive--icone {
  float: left;
  border-width: 5px;
  color: #ffffff;
  font-size: 6em;
  margin-top: 100px;
  padding: 40px;
  border-color: #7DEC07;
  border-style: solid;
  border-radius: 50%;
}
.servicos__itens--testdrive--titulo {
  margin-top: 360px;
  font-weight: bold;
  color: #f29f1b;
  font-size: 3em;
}
.servicos__itens--testdrive--desc {
  margin-top: 30px;
  margin-left: 240px;
  color: #ffffff;
  font-size: 2em;
}
.servicos__itens--seguro--icone {
  float: right;
  border-width: 5px;
  color: #ffffff;
  font-size: 6em;
  margin-top: 100px;
  padding: 40px;
  border-color: #7DEC07;
  border-style: solid;
  border-radius: 50%;
}
.servicos__itens--seguro--titulo {
  float: right;
  margin-top: 80px;
  font-weight: bold;
  color: #f29f1b;
  font-size: 3em;
}
.servicos__itens--seguro--desc {
  float: right;
  margin-top: -130px;
  margin-right: 200px;
  color: #ffffff;
  font-size: 2em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.home__container--img {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */